<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--SQL config-->
    <add key="SQL_SERVER_IP" value="10.6.3.30"/>
    <add key="SQL_SERVER_PORT" value="5432"/>
    <add key="SQL_SERVER_USER_ID" value="postgres"/>
    <add key="SQL_SERVER_PASSWORD" value="wavegis"/>
    <add key="SQL_SERVER_DATABASE" value="dtltms_data"/>
  <!--SMS DB-->
    <add key="SMS_SERVER_IP" value="10.6.3.61"/>
    <add key="SMS_SERVER_PORT" value="5432"/>
    <add key="SMS_SERVER_USER_ID" value="postgres"/>
    <add key="SMS_SERVER_PASSWORD" value="Qazwsx123"/>
    <add key="SMS_SERVER_DATABASE" value="cga"/>
    <!--send sms value: 1->not send 0->send-->
    <add key="sendSMS" value="1"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.PostgreSql" />
      <add name="dotConnect for PostgreSQL" invariant="Devart.Data.PostgreSql" description="Devart dotConnect for PostgreSQL" type="Devart.Data.PostgreSql.PgSqlProviderFactory, Devart.Data.PostgreSql, Version=6.0.6.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>
</configuration>