<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--SQL config-->
    <add key="SQL_SERVER_IP" value="10.6.3.30"/>
    <add key="SQL_SERVER_PORT" value="5432"/>
    <add key="SQL_SERVER_USER_ID" value="postgres"/>
    <add key="SQL_SERVER_PASSWORD" value="wavegis"/>
    <add key="SQL_SERVER_DATABASE" value="dtltms_data"/>
  <!--SMS DB-->
    <add key="SMS_SERVER_IP" value="10.6.3.61"/>
    <add key="SMS_SERVER_PORT" value="5432"/>
    <add key="SMS_SERVER_USER_ID" value="postgres"/>
    <add key="SMS_SERVER_PASSWORD" value="Qazwsx123"/>
    <add key="SMS_SERVER_DATABASE" value="cga"/>
    <!--send sms value: 1->not send 0->send-->
    <add key="sendSMS" value="0"/>
    <!--check if status still in the same level in specific time-->
    <add key="status_still_time" value="2 minute"/>
  </appSettings>
  
</configuration>